flows_raspberrypi.json
[{"id":"54c00b24.5e0c64","type":"tab","label":"Lights","disabled":false,"info":""},{"id":"a7b4738a.2642c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"2b2af08e.83926","type":"mqtt-broker","z":"","broker":"192.168.1.133","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"77cfd48b.cf187c","type":"change","z":"54c00b24.5e0c64","name":"Sonoff","rules":[{"t":"set","p":"topic","pt":"msg","to":"cmnd/kitchenlamp/power","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":100,"wires":[["d660a919.48c148","86a8b85a.41c848"]]},{"id":"d660a919.48c148","type":"mqtt out","z":"54c00b24.5e0c64","name":"","topic":"","qos":"2","retain":"true","broker":"2b2af08e.83926","x":690,"y":200,"wires":[]},{"id":"86a8b85a.41c848","type":"debug","z":"54c00b24.5e0c64","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","x":650,"y":40,"wires":[],"icon":"node-red/light.png"},{"id":"254a9d36.fc3672","type":"rbe","z":"54c00b24.5e0c64","name":"","func":"rbe","gap":"","start":"","inout":"out","x":490,"y":100,"wires":[["77cfd48b.cf187c"]]},{"id":"7914e5f0.33e90c","type":"switch","z":"54c00b24.5e0c64","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","outputs":1,"x":210,"y":100,"wires":[["c44b010.a5485"]]},{"id":"78ed69cf.cf86d8","type":"trigger","z":"54c00b24.5e0c64","op1":"","op2":"0","op1type":"nul","op2type":"num","duration":"60","extend":true,"units":"s","reset":"1","bytopic":"all","name":"Delay 60s","x":220,"y":140,"wires":[["c44b010.a5485"]],"icon":"node-red/light.png"},{"id":"c44b010.a5485","type":"change","z":"54c00b24.5e0c64","name":"1 to on","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"on","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":100,"wires":[["254a9d36.fc3672"]]},{"id":"220946e1.73f2aa","type":"rpi-gpio in","z":"54c00b24.5e0c64","name":"","pin":"13","intype":"down","debounce":"25","read":false,"x":67.5,"y":103,"wires":[["7914e5f0.33e90c","78ed69cf.cf86d8"]]},{"id":"3c84554.5513daa","type":"comment","z":"54c00b24.5e0c64","name":"Pi","info":"Pi Zero","x":60,"y":60,"wires":[]},{"id":"ee23ae4b.23fdf","type":"inject","z":"a7b4738a.2642c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":80,"wires":[["53f66359.a46bfc"]]},{"id":"53f66359.a46bfc","type":"change","z":"a7b4738a.2642c","name":"","rules":[{"t":"set","p":"flowvar","pt":"flow","to":"11111","tot":"num"},{"t":"set","p":"globvar","pt":"global","to":"22222","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":100,"wires":[[]]}]