flows_raspberrypi.json
[{"id":"54c00b24.5e0c64","type":"tab","label":"Lights","disabled":false,"info":""},{"id":"2b2af08e.83926","type":"mqtt-broker","z":"","name":"","broker":"192.168.1.2","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d660a919.48c148","type":"mqtt out","z":"54c00b24.5e0c64","name":"","topic":"shellies/shelly1-1D8E2F/relay/0/command","qos":"2","retain":"true","broker":"2b2af08e.83926","x":680,"y":140,"wires":[]},{"id":"86a8b85a.41c848","type":"debug","z":"54c00b24.5e0c64","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","x":750,"y":40,"wires":[],"icon":"node-red/light.png"},{"id":"254a9d36.fc3672","type":"rbe","z":"54c00b24.5e0c64","name":"","func":"rbe","gap":"","start":"","inout":"out","x":410,"y":100,"wires":[["86a8b85a.41c848","d660a919.48c148"]]},{"id":"220946e1.73f2aa","type":"rpi-gpio in","z":"54c00b24.5e0c64","name":"","pin":"13","intype":"down","debounce":"25","read":false,"x":80,"y":100,"wires":[["80616139.8d3fd"]]},{"id":"3c84554.5513daa","type":"comment","z":"54c00b24.5e0c64","name":"Pi Zero Kitchen","info":"Pi Zero Kitchen","x":100,"y":40,"wires":[]},{"id":"80616139.8d3fd","type":"trigger","z":"54c00b24.5e0c64","op1":"on","op2":"off","op1type":"str","op2type":"str","duration":"60","extend":true,"units":"s","reset":"","bytopic":"all","name":"","x":250,"y":100,"wires":[["254a9d36.fc3672"]]}]